# URL-SHORTENER-SERVICE Configuration
# Copy this file to .env and fill in your actual values

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=YOUR-USERNAME
DB_PASSWORD=YOUR-PASSWORD
DB_NAME=urlshortenerpostgres

#  Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=PGADMIN-EMAIL
PGADMIN_DEFAULT_PASSWORD=PGADMIN-PASSWORD

# Server Configuration
APP_PORT=8080
